<% provide(:title, 'Registro') %>
<h2>Regístrate</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, autofocus: true, label: "Nombre" %> 
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true, label: "Confirmar password" %>
  <%= f.input :city, label: "Ciudad" %>
  <%= f.input :phone, label: "Teléfono", as: :string %>
  <%= f.button :submit, 'Registrar', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>