<div id="new" class="modal" style="display: none">
  <%= simple_form_for @newdiscount, :url => discounts_path, :html => {:method => :post, :class => 'form-horizontal' } do |f| %>
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h3>Nuevo Descuento</h3>
      </div>
      <div class="modal-body">
        <%= f.association :venue, label_method: lambda { |venue| "#{venue.discount_club.name} - #{venue.name}" } , prompt: "Selecciona el lugar", label: "Lugar" %>
        <%= f.input :conditions, autofocus: true, required: true, label: "Condiciones" %>
        <%= f.input :price, as: "string", label: "Precio" %>
        <%= f.input :discount, label: "Descuento (%)" %>
        <%= f.input :usage, label: "Forma de uso" %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Agregar", :class => "btn" %>
        <a class="btn" data-dismiss="modal" href="#">Close</a>
      </div>
  <% end %>
</div>