<h3>Mis Descuentos</h3>
<% @discount_club.each do |t| %>
    <%= t.name %>
    <% if can? :create, @discount %>
        <%= link_to("Crear", new_discount_path, :class => 'btn btn-mini') %>
    <% end %>
    <ul>
    <% t.discounts.each do |j| %>
          <li>
            <%= j.venue_name %>
            <%= simple_format j.conditions %>
            <% if can? :destroy, @discount %>
                <%= link_to("Eliminar", discount_path(j), :data => { :confirm => "¿Estás seguro?" }, :method => :delete, :class => 'btn btn-mini') %>
            <% end %>
          </li>
    <% end %>
    </ul>
<% end %>