<% provide(:title, 'Descuentos') %>
<h3>Mis Descuentos
<% if can? :create, @discount %>
      <a data-toggle="modal" href="#new" class="btn btn-mini" type="button">Crear</a>
      <%= render 'new' %>
<% end %>
</h3>
<% @discount_club.each do |t| %>
    <h4><%= t.name %></h4>
    <ul>
    <% t.discounts.each do |j| %>
          <li>
            <%= link_to j.venue_name, j %>
            <% if can? :destroy, :edit, @discount %>
                <td><a data-toggle="modal" href="#edit-<%= j.id %>" class="btn btn-mini" type="button">Editar</a>
                  <%= render j %>
                </td>
                <%= link_to("Eliminar", discount_path(j), :data => { :confirm => "¿Estás seguro?" }, :method => :delete, :class => 'btn btn-mini') %>
            <% end %>
            <%= simple_format j.conditions %>
          </li>
    <% end %>
    </ul>
<% end %>