<% provide(:title, 'Nuevo Descuento') %>
<h2>Agregar Descuento</h2>
<%= simple_form_for(@discount, :html => {:class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @discount %>
    <%= f.association :venue, label_method: lambda { |venue| "#{venue.discount_club.name} - #{venue.name}" } , prompt: "Selecciona el lugar", label: "Lugar" %>
    <%= f.input :conditions, autofocus: true, required: true, label: "Condiciones" %>
    <%= f.input :price, as: "string", label: "Precio" %>
    <%= f.input :discount, label: "Descuento (%)" %>
    <%= f.button :submit, 'Agregar', :class => 'btn-primary' %>
<% end %>