<h3><%= @discount.venue.name %></h3>
<% if can? :destroy, :edit, @discount %>
    <%= link_to("Editar", edit_discount_path(@discount), :class => 'btn btn-mini') %>
    <%= link_to("Eliminar", discount_path(@discount), :data => { :confirm => "¿Estás seguro?" }, :method => :delete, :class => 'btn btn-mini') %>
    <br/>
<% end %>
<%= @discount.conditions %>
<br/>
<% if @discount.price %>
    Precio: <%= @discount.price %>
<% else %>
    Descuento: <%= @discount.discount %> %
<% end %>
<br/>
Forma de uso: <%= @discount.usage %>
